//! **************************************************************************
// Written by: Map I.31 on Wed Apr 14 19:03:33 2010
//! **************************************************************************

SCHEMATIC START;
NET "sysclk_BUFGP/IBUFG" BEL "sysclk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
